// Breakpoints
$xs: 0;
$sm: 480px;
$premd: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1500px;

$container-width: 1240px;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 600;
$bolder: 800;

// Fonts
$heading: sans-serif;
$body: sans-serif;

// Colours